@if (selectedKid(); as kid) {
  <div class="quote-overlay" animate.enter="fade-in" animate.leave="fade-out">
    <div class="kid-image">
      <div class="kid-wrapper" [style.background-color]="kid.bg">
        <img
          [style.object-position]="kid.imagePos"
          [src]="kid.image"
          [alt]="kid.name"
        />
      </div>
      <div style="text-align: center">
        <span>Meet</span><br />
        <span>{{ kid.name }}</span>
      </div>
    </div>
    <div class="quote">
      <span>{{ kid.quote }}</span>
      <br /><br /><span>- {{ kid.quoteGivenBy }}</span>
    </div>
    <app-button
      (buttonClicked)="closeKid.emit()"
      text="Back"
      btn-bg="transparent"
      btn-border="white"
      btn-color="white"
      hoverBg="white"
      hoverBorder="white"
      hoverColor="black"
      >Shop Now</app-button
    >
  </div>
}
