
<div class="footer-page">
    <div class="links">
        <div class="header">Miss Lisa Books</div>
        <a>Platform</a>
        <a>Books</a>
        <a>About</a>
        <a>Shop</a>
    </div>
    <div class="copyright">
        <svg-icon [name]="SvgIcon.COPYRIGHT" height="0.7rem" style="color: #B3B3B3"></svg-icon>
        <span>Miss Lisa Books LLC, 2022   |   Site Designed by Hayden Westfall</span>
    </div>
    <div class="logo-watermark">
        <img [src]="'../../../assets/img/logo-mlb.png'" alt="Miss Lisa Books Logo">
    </div>
</div>
