.navbar-wrapper {
  height: 5.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;

  .navbar {
    position: relative;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;

    .logo-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: "courgette";
      color: white;

      .logo {
        position: relative;
        height: 3rem;
        width: 3rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        border-radius: 50%;

        img {
          height: 1.8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar-wrapper {
    height: 14rem;

    .navbar {
      justify-content: center;
      padding: 0rem;

      .logo-wrapper {
        .logo {
          display: none;
        }

        span {
          font-size: 4rem;
        }
      }
    }
  }
}
