
<div class="header-wrapper">
    <h3 [ngStyle]="{ color: subHeaderColor }" class="sub-header">{{subHeader}}</h3>
    <div [ngStyle]="{ color: headerColor }" *ngIf="header != ''" class="section-header" [attr.id]="id">
        <span *ngFor="let letter of header | split; let i = index" [ngClass]="{'fade': i < characterIndex}">{{letter}}</span>
    </div>
    <div class="book-title" [attr.id]="id" *ngIf="header == ''" [ngStyle]="{ color: headerColor }">
        <span *ngFor="let letter of 'JOSIE' | split; let i = index" [ngClass]="{'fade': i < characterIndex}">{{letter}}</span>
        <div class="little-word-wrapper">
            <div>
                <span *ngFor="let letter of 'and' | split; let i = index" [ngClass]="{'fade': i + 5 < characterIndex}">{{letter}}</span>
            </div>
            <div>
                <span *ngFor="let letter of 'the' | split; let i = index" [ngClass]="{'fade': i + 8 < characterIndex}">{{letter}}</span>
            </div>
        </div>
        <span *ngFor="let letter of 'TOAD' | split; let i = index" [ngClass]="{'fade': i + 11 < characterIndex}">{{letter}}</span>
    </div>
</div>
