
.about-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF3EE;
    padding-top: 5rem;

    .wave {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .top {
        bottom: 99.95%;
    }

    .bottom {
        top: 99.95%;
    }

    .about-person-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 5rem 5rem;

        .about-person {
            position: relative;
            display: flex;
            max-width: 65rem;
            justify-content: space-around;
            align-items: center;
            gap: 4rem;
            font-family: 'helios-antique';
            font-weight: 500;

            .employee-photo {
                position: relative;
                height: 25rem;
                width: 18rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                background-color: #AEB7B2;
                border-radius: 12rem;
                border: 1px solid #a2a2a2;
                overflow: hidden;
                box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.171);
                flex-shrink: 0;


                .employee-position {
                    position: absolute;
                    left: -10px;
                    display: none;
                }
            }



            .employee-description {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                font-size: 0.9rem;
                gap: 2rem;

                span {
                    font-size: 3.5rem;
                    line-height: 3.2rem;
                    font-family: 'chelsea-market';
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {

    .about-wrapper {
        .about-person {
            flex-direction: column;
            gap: 3rem;

            .employee-photo {

            }


            .employee-description {
                text-align: center;
                align-items: center;
                font-size: 0.6rem;

                span {
                    font-size: 2.2rem;
                }
            }
        }
    }

}
