<div class="landing-page">
      <div class="hero">
        <h1>Lets Be Irrationally Crazy About As Many Kids As We Possibly Can</h1>
        <div class="button-wrapper">
            <button (click)="scrollToElement('shop')">Shop Now</button>
        </div>
      </div>
      <div class="graphic">
            <div class="graphic-wrapper">
                <svg-icon [name]="SvgIcon.HERO_BG" [height]="'60vw'"></svg-icon>
                <div class="kid kid_1">
                  <img [src]="'../assets/img/boy.png'">
                </div>
                <div class="kid kid_2">
                  <img [src]="'../assets/img/girl.png'">
                </div>
                <div class="kid kid_3">
                  <img [src]="'../assets/img/girl2.png'">
                </div>
            </div>
      </div>
</div>
