.landing-page {
  position: relative;
  width: 100%;
  display: flex;
  height: 100vh;

  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--primary-color);
    padding-left: 5rem;
    z-index: 2;
    flex-grow: 1;

    #hero-text {
      width: 98%;
      max-width: 60rem;
      font-family: "chelsea-market";
      white-space: pre-wrap;

      span {
        font-size: 4rem;
        color: white;
        line-height: 5rem;
        opacity: 0;
        transition: all 0.4s ease;
        transform: translateY(50px);
        display: inline-block;
      }

      .fade {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .button-wrapper {
      display: flex;
      width: 100%;
      gap: 1rem;
      height: 2.65rem;
    }
  }

  .graphic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 800px;
    background-color: var(--accent-color);
    overflow: hidden;
    flex-shrink: 0;

    .images {
      display: flex;
      width: 400%; /* 100% for each of the four images */
      height: 100%;

      img {
        width: 100%;
        min-height: 100%;
        flex: 1 0 100%;
        object-fit: cover;
      }
    }

    .learn-more-button {
      position: absolute;
      bottom: 3rem;
      right: 3rem;

      .border-wrapper {
        position: absolute;
        top: -1rem;
        left: -1rem;
        height: calc(100% + 2rem);
        width: calc(100% + 2rem);

        .border {
          position: relative;
          height: 100%;
          width: 100%;
          transition: transform 1s;
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='1000' ry='1000' stroke='white' stroke-width='3' stroke-dasharray='15' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        }
      }

      .circle-button {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        color: white;
        cursor: pointer;
        transition: background-color 0.5s ease;
        font-family: "chelsea-market";
        font-weight: 600;
        font-size: 1.25rem;
        height: 11rem;
        width: 11rem;
        text-decoration: none;
        border: none;
        z-index: 10;
        background-color: #ffffff;
        color: black;
        position: relative;

        &:hover {
          background-color: #dddddd;
        }
      }
    }
  }

  @media (min-width: 1000px) {
    h1 {
      font-size: 5.75rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column;
    gap: 10rem;
    height: unset;
    background-color: var(--primary-color);
    width: 100%;
    padding-top: 25rem;

    .hero {
      gap: 3rem;

      #hero-text {
        max-width: unset;

        span {
          font-size: 8rem;
          color: white;
          line-height: 8rem;
          opacity: 0;
          transition: all 0.4s ease;
          transform: translateY(50px);
          display: inline-block;
        }
      }

      .button-wrapper {
        flex-direction: row;
        gap: 2rem;
        height: unset;
      }
    }

    .graphic {
      width: 100%;
      max-width: unset;

      .images {
        display: flex;
        width: 400%; /* 100% for each of the four images */
        height: 100%;
      }

      .learn-more-button {
        position: absolute;
        bottom: 5rem;
        right: 5rem;

        .border-wrapper {
          position: absolute;
          top: -3rem;
          left: -3rem;
          height: calc(100% + 6rem);
          width: calc(100% + 6rem);
        }

        .circle-button {
          height: 30rem;
          width: 30rem;

          div {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1255px) {
  .landing-page {
    .hero {
      h1 {
        font-size: 3rem;
        line-height: 3.5rem;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .landing-page {
    .hero {
      h1 {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
}
