<div class="shop-page" id="Shop">
  <div class="header-wrapper">
    <h3 class="sub-header">SHOP</h3>
    <div id="shop-title" class="section-header">Get Yours Today!</div>
  </div>

  <div class="locations-wrapper">
    <div class="locations" #locations>
      <a
        class="location"
        href="https://tinyurl.com/454z84ty"
        target="_blank"
        #location
      >
        <img
          [src]="'../../assets/img/amazon.webp'"
          alt="amazon"
          style="width: 10rem; margin-top: 0.4rem"
        />
      </a>
      <a
        class="location"
        href="https://lucidbooks.com/books/hatching-snappers/"
        target="_blank"
      >
        <img
          [src]="'../../assets/img/lucidBooks.webp'"
          alt="amazon"
          style="width: 12rem"
        />
      </a>
      <a
        class="location"
        href="https://www.barnesandnoble.com/w/hatching-snappers-lisa-hildebrand/1146124224?ean=9781632967145"
        target="_blank"
      >
        <img
          [src]="'../../assets/img/barnesAndNoble.webp'"
          alt="amazon"
          style="width: 12rem"
        />
      </a>
    </div>
  </div>
</div>
