<div class="shop-page" id="Shop">
    <app-header #header id="shopHeader" header="Get Yours Today!" subHeader="SHOP NOW" headerColor="#2E4438" subHeaderColor="#C0D0C7"></app-header>

    <div class="locations-wrapper">
      <div class="locations" #locations>
        <a class="location" href="https://amzn.to/3QWuX7x" target="_blank" #location>
          <img [src]="'../../assets/img/amazon.png'" alt="amazon" style="width: 10rem; margin-top: 0.4rem;">
        </a>
        <a class="location" href="https://lucidbooks.com/books/josie-and-the-toad/" target="_blank">
          <img [src]="'../../assets/img/lucidBooks.jpeg'" alt="amazon" style="width: 12rem;">
        </a>
        <a class="location" href="http://bit.ly/3ZTrWZq" target="_blank">
          <img [src]="'../../assets/img/barnesAndNoble.jpeg'" alt="amazon" style="width: 12rem;">
        </a>
        <a class="location" href="http://bit.ly/3kybzRP" target="_blank">
          <img [src]="'../../assets/img/bookDepository.png'" alt="amazon" style="width: 12rem;">
        </a>
        <a class="location" href="http://bit.ly/3kyqonK" target="_blank">
          <img [src]="'../../assets/img/bam.png'" alt="amazon" style="width: 12rem;">
        </a>
        <a class="location" href="http://bit.ly/3Hlfnz5" target="_blank">
          <img [src]="'../../assets/img/indieBound.png'" alt="amazon" style="width: 12rem;">
        </a>
      </div>
    </div>
</div>