/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 1vw;
}

/* Color Cheme */
html body {
  --primary-color: #537864;
  --primary-color-accent: #eaf3ee;
  --secondary-color: #d88e60;
  --tertiary-color: #becbdf;
  --accent-color: #eaf3ee;
  --border-color: #d7d1ce;
  background-color: var(--primary-color-accent);
  scroll-behavior: smooth;
}

/* Type Faces */
@font-face {
  font-family: "chelsea-market";
  src: url(./assets/fonts/chelseaMarket/ChelseaMarket-Regular.ttf)
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "courgette";
  src: url(./assets/fonts/courgette/Courgette-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "helios-antique";
  src: url(./assets/fonts/helios/Helios-Antique-Semi-Bold.otf)
    format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "helios-antique";
  src: url(./assets/fonts/helios/Helios-Antique-Medium.otf) format("opentype");
  font-weight: 500;
}

.header {
  font-size: 6vw;
}

.paragraph {
  font-size: 1.4vw;
  font-weight: 500;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  .sub-header {
    font-size: 0.75rem;
    font-family: "helios-antique";
    font-weight: 500;
    letter-spacing: 2.2px;
    color: #c0d0c7;
  }

  .section-header {
    font-size: 4.25rem;
    font-family: "chelsea-market";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: pre;
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 768px) {
  .header-wrapper {
    gap: 1rem;

    .sub-header {
      font-size: 2rem;
      letter-spacing: 2.2px;
    }

    .section-header {
      font-size: 8rem;
    }
  }
}
